body
	width: 100%

$main: #ff6826
$text: #4a4949

main
	max-width: 960px
	margin: 0 auto
	padding: 50px
	font-family: 'Open Sans', sans-serif
	color: $text

	.store-header
		overflow: hidden
		border-bottom: 4px solid $main
	.left,
	.center
		width: 20%
		float: left

		img
			max-width: 150px

	.right
		width: 60%
		margin-top: 30px
		float: right
		text-align: right

		a
			color: $text
			text-decoration: none
			display: inline-block
			margin: 0 5px

			&:hover
				text-decoration: underline
				color: $main

	.slick-prev:before,
	.slick-next:before
		color: $main !important

	img
		max-width: 100%

#carousel
	text-align: center

	img
		width: 100%

.comp
	margin-top: 20px
	img
		display: block
		margin: 0 auto
		border-top: 4px solid $main

.autos,
.parts
	margin: 0 25px

.manu.img-link a img
	height: 80px
	width: 100px

.section
	margin-bottom: 40px
	h2
		color: $text
		border-bottom: 4px solid $main
		padding-bottom: 3px
		font-weight: bold
		text-transform: uppercase

	p
		color: $text

	&.imgs
		img
			display: block
			margin-bottom: 20px
			margin: 0 auto




